<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Pages</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav>
        <div class="nav-zone1">
            <h1 class="logo">LOGO</h1>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Coffee</a></li>
                <li><a href="">Menu</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
        <div class="nav-zone2">
            <div class="search-box">
                <i class="fa-solid fa-magnifying-glass"></i>
                <a href="">Search</a>
            </div>
            <div class="btn-nav">
                <button class="btn1-nav">Login</button>
            </div>
        </div>
    </nav>


    <section class="section1">
        <img src="../material/image/coffee-roaster.webp" alt="" width="700" height="500">
       <div class="text-box-section1">
        <h1>About</h1>
        <span id="span1-section1">Lorem ipsum dolor, sit amet consectetur adipisicing elit</span><br>
        <p  id="span2-section1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatesimus et exercitationem <br>commodi earum iusto.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error possimus et exercitationem delectus natus illo, fugiat perferendis ipsa in velit neque eaque ratione perspiciatis suscipit doloribus, id tempore. Minus, eos!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio officia repudiandae dolore delectus maxime nam quisquam perferendis, et quia in, officiis, deserunt quae nesciunt dignissimos nihil omnis vitae quam eveniet?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, perferendis repellat dolorem molestias aliquam quis recusandae inventore eaque accusamus repudiandae voluptas ex eos enim architecto laudantium veritatis nostrum adipisci dolorum.
            Lorem ipsum dolor sit amet consectetur 
        </p>    
       </div>
    </section>

    <section class="section2">
        <h1>Popular</h1>
        <div class="container">
            <div class="cardbox">
            
                <div class="box1">
                    <img src="../material/image/coffeeOriginal.jpg" alt="" width="400px" height="400px">
                    <p>Subheading</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente perspiciatis, dicta, tenetur facilis quidem 
                        itaque saepe iste nobis dolores rem in non ut consequuntur minima ad quae sit distinctio hic?</p>
                </div>
                <div class="box2">
                    <img src="../material/image/green_coffee_cleaned_ready_for_roasting.webp" alt="" width="400px" height="400px">
                    <p>Subheading</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente perspiciatis, dicta, tenetur facilis quidem 
                        itaque saepe iste nobis dolores rem in non ut consequuntur minima ad quae sit distinctio hic?</p>
                </div>
                <div class="box3">
                    <img src="../material/image/coffeesarn.jpg" alt="" width="400px" height="400px">
                    <p>Subheading</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente perspiciatis, dicta, tenetur facilis quidem 
                        itaque saepe iste nobis dolores rem in non ut consequuntur minima ad quae sit distinctio hic?</p>
                </div>
            </div>
        </div>
    </section>




    <section class="section3">
        <h1>Promotion</h1>
        <div class="container-img">
            <img src="../material/image/punthai.webp" alt="" height="500px" width="1500px">
        </div>
        
    </section>

    <footer>
        <div class="footer-text-fixed">
            <p>@ 59/9 Salakrang Bangkruai nonthaburi 11130</p>
            <p>@ Copy right 2025</p>
        </div>
        
        <p>LOGO</p>
    </footer>
</body>

</html>